<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="学生の質問にみんなで答える知識箱">
  <meta name="author" content="たんこれ">
  <link rel="icon" href="/assets/favicon.ico">

  <meta property="og:title" content="たんこれ | TOP PAGE" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://papurica.com/area51/" />
  <meta property="og:image" content="http://papurica.com/area51/img/ogp.png" />
  <meta property="og:site_name" content="たんこれ" />
  <meta property="og:description" content="みんなで授業をハックしよう" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="たんこれ | TOP PAGE | 授業ハック" />

  <title>たんこれ | スレッド作成</title>
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/manual.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>
<body>
  <div id="nav-container">
  <nav class="navbar navbar-expand-md navbar py-3 mx-md-auto mx-4">
  <%= link_to image_tag("/assets/logo.png"), id: "header-logo", alt: "logo", class: "navbar-brand", action: "index" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <input id="nav-search" class="form-control px-3 mr-sm-1 badge-pill" type="search" placeholder="キーワードで検索" aria-label="Search">
      <button id="nav-search-button" class="btn badge-pill ml-2 my-sm-0" type="submit"><img src="/assets/search.png" alt="検索"></button>
    <ul class="navbar-nav ml-auto" id="nav-buttons">
      <li class="nav-item">
        <a id="nav-build" class="btn badge-pill ml-2 my-sm-0" href="build.html"><img src="/assets/build.png" alt="スレッド作成"></a>
      </li>
      <li class="nav-item">
        <a id="nav-notification" class="btn badge-pill ml-3 my-sm-0" href="notification.html"><img src="/assets/notification.png" alt="通知確認"></a>
      </li>
    </ul>
  </div>
  </nav>
  </div>

  <div id="body-container" class="row my-6 mx-auto">
    <div class="col-md-8 mx-auto py-4">
      <div class="border border-white-50 rounded bg-white mb-4 pb-2 top-left">
        <h1 id="create-h1">新着スレッドを作成</h1>
          <form class="create-form my-4 mx-5">
            <p>スレッドタイトル</p>
            <div class="field">
              <%= form.text_field :title %>
            </div>

          <!--  <p>タグ</p>
            <input type="text" class="py-3 px-2" name="" value=""> -->

            <p>最初のコメント</p>
            <div class="field">
              <%= form.text_area :content %>
            </div>

            <div class="actions">
              <%= form.submit :スレッドをつくる %>
            </div>

          </form>
      </div>
    </div>
  </div>

  <footer class="footer">
  <div class="container clearfix mx-auto">
    <p class="text-black-50 float-md-left text-center">© 2018 papurica Inc.</p>
    <ul class="nav float-md-left pl-md-5 pl-0 pb-md-0 pb-3">
      <li class="nav-item"><a href="regulation.html" class="nav-link py-0 px-md-3 px-2">利用規約</a></li>
      <li class="nav-item"><a href="privacy.html" class="nav-link py-0 px-md-3 px-2">プライバシー</a></li>
      <li class="nav-item"><a href="company.html" class="nav-link py-0 px-md-3 px-2">運営会社</a></li>
      <li class="nav-item"><a href="contact.html" class="nav-link py-0 px-md-3 px-2">お問い合わせ</a></li>
    </ul>
  </div>
  </footer>

</body>
</html>
<% end %>
