<p id="notice"><%= notice %></p>


  <div id="body-container" class="row my-6 mx-auto">

    <div class="col-md-8">
      <div class="border border-white-50 rounded bg-white mb-4 pb-2 top-left">
        <h1 id="top-h1" class="border-bottom text-white">新着スレッド一覧</h1>
        <% @articles.each do |article| %>
        <div class="py-3 mx-4 border-bottom each-thread">
              <tr>
                <h3 class="py-1"><%= link_to article.title, article, class: "font-weight-bold top-thread-title" %></h3>
                <td><%= article.content %></td>
                <p class="py-2 top-thread-date">作成日：<%= article.created_at %>　いいね数：<span><%= article.favorite_count %></span>　コメント数：<%= article.comment_count %> </p>
                <td><%= link_to 'Show', article %></td>
                <td><%= link_to 'Edit', edit_article_path(article) %></td>
                <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
          <div class="pt-1">
            <% article.article_tags.each do |article_tag| %>
              <%= link_to article_tag.tag.name, "search.html", class: "btn btn-outline-secondary top-tags font-weight-light badge-pill" %>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-4">
      <div id="top-taglist" class="mb-3">
        <h2 class="text-center">タグ一覧</h2>
        <hr>
        <div class="p-2">
          <% @tags.each do |tag| %>
            <%= link_to tag.name + "(" + tag.article_tags.count.to_s + ")", "search.html", :class => "btn btn-outline-dark top-tags font-weight-light m-1 badge-pill" %>
          <% end %>
        </div>
      </div>
      <div id="top-ranking" class="mb-3">
        <h2 class="text-center">ランキング</h2>
        <hr>
        <div id="ranking-container">
        <div class="pt-2 pb-3 mx-2 clearfix">
          <img src="/assets/r1.png" alt="1位" class="ranking-number">
          <div class="ranking-content pl-2">
            <h4 class="">国際政治経済の授業共有ルーム</h4>
            <p class="ranking-thread-date">いいね数：<span>30</span>　コメント数：82</p>
          </div>
        </div>
        <hr>
        <div class="py-3 mx-2 clearfix">
          <img src="/assets/r2.png" alt="2位" class="ranking-number">
          <div class="ranking-content pl-2">
            <h4 class="">国際政治経済の授業共有ルーム</h4>
            <p class="ranking-thread-date">いいね数：<span>30</span>　コメント数：82</p>
          </div>
        </div>
        <hr>
        <div class="py-3 mx-2 clearfix">
          <img src="/assets/r3.png" alt="3位" class="ranking-number">
          <div class="ranking-content pl-2">
            <h4 class="">国際政治経済の授業共有ルーム</h4>
            <p class="ranking-thread-date">いいね数：<span>30</span>　コメント数：82</p>
          </div>
        </div>
        <hr>
        <div class="py-3 mx-2 clearfix">
          <img src="/assets/r4.png" alt="4位" class="ranking-number">
          <div class="ranking-content pl-2">
            <h4 class="">国際政治経済の授業共有ルーム</h4>
            <p class="ranking-thread-date">いいね数：<span>30</span>　コメント数：82</p>
          </div>
        </div>
        <hr>
        <div class="py-3 mx-2 clearfix">
          <img src="/assets/r5.png" alt="5位" class="ranking-number">
          <div class="ranking-content pl-2">
            <h4 class="">国際政治経済の授業共有ルーム</h4>
            <p class="ranking-thread-date">いいね数：<span>30</span>　コメント数：82</p>
          </div>
        </div>
        </div>
      </div>
    </div>

  </div>
