

<div id="body-container" class="row my-6 mx-auto">

  <div class="col-md-8 mx-auto">
    <div class="bg-white mb-4 pb-2 top-left">
      <h1 id="search-h1">「<%= @keyword %> 」に関連するスレッド <%= @articles.size %>件</h1>
      <% @articles.each do |article| %>
      <div class="py-3 mx-4 border-bottom each-thread">
            <tr>
              <h3 class="py-2"><%= link_to article.title, article, class: "font-weight-bold top-thread-title" %></h3>
              <td><%= article.content %></td>
              <p class="py-2 top-thread-date">作成日：<%= article.created_at %>　いいね数：<span><%= article.favorite_count %></span>　コメント数：<%= article.comment_count %> </p>
              <p class="search-thread-comment">ワイルドカードは使えない代わり、getFileList関数を使えば、特定のフォルダに含まれるファイルすべての名前を文字列配列として読み込むことができます。</p>
              <td><%= link_to 'Show', article %></td>
              <td><%= link_to 'Edit', edit_article_path(article) %></td>
              <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <div class="py-2">
          <% article.article_tags.each do |article_tag| %>
            <%= link_to article_tag.tag.name, "/search?search=" + article_tag.tag.name, class: "btn btn-outline-secondary top-tags font-weight-light badge-pill" %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</div>
