
<div id="body-container" class="row my-6 mx-auto">

  <div class="col-md-8">
    <div class="border border-white-50 bg-white mb-4 pb-2 thread-main">
      <div id="thread-index">
        <h1><%= @article.title %></h1>
        <p class="py-2 top-thread-date">作成日：<%= @article.created_at_format %>　いいね数：<%= @article.favorite_count %>　コメント数：<%= @article.comments.count %> </p>
        <div class="pt-1">
          <a href="search.html" class="btn thread-tags font-weight-light badge-pill">ライフハック</a>
          <a href="search.html" class="btn thread-tags font-weight-light badge-pill">DS1</a>
          <a href="search.html" class="btn thread-tags font-weight-light badge-pill">テスト情報</a>
        </div>
      </div>
      <% @article.comments.each_with_index do |comment, index| %>
        <div class="thread-comment">
          <p class="comment-name"><span class="comment-num"><%= (index + 1).to_s %>.</span> <%= comment.user.username %> <span class="comment-date"><%= comment.created_at_format %></span><span class="comment-thx-num"><%= comment.favorites.count %></span></p>
          <p class="comment-text"><%= comment.content %></p>
          <div class="comment-buttons">
            <%= link_to "コメント", "javascript:void(0);", :class => "reply-button", :onclick => 'document.getElementById("comment_box").value = ">>' + (index + 1).to_s + '";document.getElementById("comment-container").scrollIntoView(true);' %>
            <%= link_to "ありがとう", article_comment_favorites_path(comment_id: comment.id, article_id: @article.id), :class => "thx-button", :method => :post %>
            <a href="#" class="trash-button">削除</a>
          </div>
        </div>

      <% end %>
    </div>
    <div class="border border-white-50 bg-white mb-4 pb-2 thread-main">
      <div id="comment-container">
        <h1>新規コメント</h1>
        <%= form_for([@article, @comment]) do |f| %>
          <%= f.text_area :content, :size => "20x8", :id => "comment_box" %>
          <div class="mx-auto clearfix">
            <label class="btn float-left" for="inputFile">
              ファイル選択<%= f.file_field :file, :id => "inputFile", :class => "d-none", :value => "投稿する" %>
            </label>
            <%= f.hidden_field :article_id, :value => @article.id %>
            <%= f.submit "投稿する" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div id="thread-recent" class="mb-3">
      <h2 class="text-center">最近更新されたスレッド</h2>
      <hr>
      <div id="recent-container">
        <div class="pl-2 py-3 mx-2">
          <a href="thread.html"><h3>国際政治経済の授業共有ルーム</h3></a>
          <p class="recent-date">2018/4/12 21:00　コメント 82</p>
        </div>
        <hr>
        <div class="pl-2 py-3 mx-2">
          <a href="thread.html"><h3>すごく難しくてとてもじゃないけどわから...</h3></a>
          <p class="recent-date">2018/4/12 21:00　コメント 82</p>
        </div>
        <hr>
        <div class="pl-2 py-3 mx-2">
          <a href="thread.html"><h3>情報基礎ってまじでキツイわ</h3></a>
          <p class="recent-date">2018/4/12 21:00　コメント 82</p>
        </div>
        <hr>
        <div class="pl-2 py-3 mx-2">
          <a href="thread.html"><h3>裏死海文書ってどんな内容なの？</h3></a>
          <p class="recent-date">2018/4/12 21:00　コメント 82</p>
        </div>
        <hr>
        <div class="pl-2 py-3 mx-2">
          <a href="thread.html"><h3>んな訳あるかっての、普通に原級やんこれ</h3></a>
          <p class="recent-date">2018/4/12 21:00　コメント 82</p>
        </div>
        <hr>
        <div class="pl-2 py-3 mx-2">
          <a href="thread.html"><h3>国際政治経済の授業共有ルーム</h3></a>
          <p class="recent-date">2018/4/12 21:00　コメント 82</p>
        </div>
        <hr>
        <div class="pl-2 py-3 mx-2">
          <a href="thread.html"><h3>理化学研究所ってどんな場所だよ</h3></a>
          <p class="recent-date">2018/4/12 21:00　コメント 82</p>
        </div>
        <hr>
        <div class="pl-2 py-3 mx-2">
          <a href="thread.html"><h3>アルビオンの刀を食べてみたい</h3></a>
          <p class="recent-date">2018/4/12 21:00　コメント 82</p>
        </div>
      </div>
    </div>
    <a href="#comment-container" id="post-comment-button" class="btn badge-pill mt-2">コメントを投稿する</a>
  </div>

</div>
