<% provide(:title, "Edit user") %>
<div id="body-container" class="row my-6 mx-auto">
  <div class="col-md-8 mx-auto py-4">
    <div class="border border-white-50 rounded bg-white mb-4 pb-2 top-left">
      <h1 id="mypage-h1">マイページ</h1>
      <%= form_for @user, html: {id: "create-form", class: "my-4"} do |f| %>
        <%= render 'shared/error_messages' %>

        <p>メールアドレス</p>
        <%= f.text_field :email, class: 'py-3 px-2' %>

        <p>ユーザーID</p>
        <%= f.text_field :username, class: 'py-3 px-2' %>

        <p>パスワード</p>
        <%= f.text_field :password, class: 'py-3 px-2' %>

        <p>パスワード(確認用)</p>
        <%= f.text_field :password_confirmation, class: 'py-3 px-2' %>

        <%= f.submit "プロフィールを更新する", class: "btn badge-pill mt-4 mb-3 p-2" %>
      <% end %>

    </div>
    <a href="#" id="unsubcribe" class="pt-4">退会する</a>
  </div>
</div>
