<% provide(:title, 'Sign up') %>
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="学生の質問にみんなで答える知識箱">
  <meta name="author" content="たんこれ">
  <link rel="icon" href="/assets/favicon.ico">

  <meta property="og:title" content="たんこれ | TOP PAGE" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://papurica.com/area51/" />
  <meta property="og:image" content="http://papurica.com/area51/img/ogp.png" />
  <meta property="og:site_name" content="たんこれ" />
  <meta property="og:description" content="みんなで授業をハックしよう" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="たんこれ | TOP PAGE | 授業ハック" />

  <title>たんこれ | ユーザー登録</title>
  <link href="/assets/bootstrap.css" rel="stylesheet">
  <link href="/assets/manual.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/assets/bootstrap.min.js"></script>
</head>

<body id="login">

  <div id="body-container" class="row mx-auto">

    <div class="col-md-7 mx-auto">
      <div id="signup-box" class="rounded bg-white mb-4 px-5">
        <%= form_for(@user, url: signup_path) do |f| %>
          <%= render 'shared/error_messages' %>
          <h1>単位ハックをはじめよう！</h1>
          <hr>

          <label for="input-mailaddress">メールアドレス（大学から付与されたアドレス）</label>
          <%= f.email_field :email, id: "input-mailaddress", class: "form-control mx-auto", placeholder: "例: t214567@u-tokyo.ac.jp" %>

          <label for="input-password">パスワード</label>
          <%= f.password_field :password, id: "input-password", class: "form-control mx-auto", placeholder: "8桁以上英数字" %>

          <%= f.submit "アカウントを作成", class: "btn btn-block badge-pill mx-auto" %>
        <% end %>
      </div>
    </div>




  <footer id="login-footer">
  <div class="clearfix">
    <p class="float-md-left pl-3">© 2018 papurica Inc.</p>
    <ul class="nav float-md-right pb-md-0 pb-3">
      <li class="nav-item"><a href="regulation.html" class="nav-link py-0 px-md-3 px-2">利用規約</a></li>
      <li class="nav-item"><a href="privacy.html" class="nav-link py-0 px-md-3 px-2">プライバシー</a></li>
      <li class="nav-item"><a href="company.html" class="nav-link py-0 px-md-3 px-2">運営会社</a></li>
      <li class="nav-item"><a href="contact.html" class="nav-link py-0 px-md-3 px-2">お問い合わせ</a></li>
    </ul>
  </div>
  </footer>

</body>
</html>
