<html>
  <head>
    <title>たんこれ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="学生の質問にみんなで答える知識箱">
    <meta name="author" content="たんこれ">
    <link rel="icon" href="/assets/favicon.ico">

    <meta property="og:title" content="たんこれ | TOP PAGE" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://papurica.com/area51/" />
    <meta property="og:image" content="http://papurica.com/area51/assets/ogp.png" />
    <meta property="og:site_name" content="たんこれ" />
    <meta property="og:description" content="みんなで授業をハックしよう" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="たんこれ | TOP PAGE | 授業ハック" />

    <title>たんこれ | TOP</title>
    <link href="/assets/bootstrap.css" rel="stylesheet">
    <link href="/assets/manual.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>

  </head>

  <body>
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <div id="nav-container">
    <nav class="navbar navbar-expand-md navbar py-3 mx-md-auto mx-4">
    <%= link_to image_tag("/assets/logo.png"), root_path, id: "header-logo", alt: "logo", class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%= form_tag(search_path, :method => 'get', id: "nav-searchbox", class: "form-inline my-0 my-md-2" ) do %>
        <%= text_field_tag :search, "", id: "nav-search", class: "form-control px-3 mr-sm-1 badge-pill", placeholder: "キーワードで検索" %>
        <%= submit_tag '', :name => nil, id: "nav-search-button", class: "btn badge-pill ml-2 my-sm-0"%>
      <% end %>
      <ul class="navbar-nav ml-auto" id="nav-buttons">
        <li class="nav-item">
            <a><%= link_to "", new_article_path, id: "nav-build", class: "btn badge-pill ml-2 my-sm-0"%></a>
        </li>
        <% if logged_in? %>
        <li class="nav-item">
          <a><%= link_to "", edit_user_path(current_user), class: "btn badge-pill ml-3 my-sm-0", id: "nav-mypage" %></a>
        </li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </div>
    </nav>
    </div>

    <%= yield %>

    <footer class="footer">
    <div class="container clearfix mx-auto">
      <p class="text-black-50 float-md-left text-center">© 2018 papurica Inc.</p>
      <ul class="nav float-md-left pl-md-5 pl-0 pb-md-0 pb-3">
        <li class="nav-item"><a href="regulation.html" class="nav-link py-0 px-md-3 px-2">利用規約</a></li>
        <li class="nav-item"><a href="privacy.html" class="nav-link py-0 px-md-3 px-2">プライバシー</a></li>
        <li class="nav-item"><a href="company.html" class="nav-link py-0 px-md-3 px-2">運営会社</a></li>
        <li class="nav-item"><a href="contact.html" class="nav-link py-0 px-md-3 px-2">お問い合わせ</a></li>
      </ul>
    </div>
    </footer>

  </body>
</html>
<br>
